---
layout: default
---

<div class="home">

  {% for repository in site.github.public_repositories %}
  
    {% if repository.name != 'selz.github.io' and repository.fork == false %}
    
      <a href="{{ repository.html_url}}" class="repo">
        <h2>{{ repository.name }}</h2>
        <p>{{ repository.description }}</p>
        <span class="icon-dislikes star">{{ repository.stargazers_count }}</span>
        <span class="icon-play triangle"></span>
      </a>
      
    {% endif %}
    
  {% endfor %}

</div>
