---
layout: default
---
  <section class="intro">
    <h2>What is Selz?</h2>
    <p>Selz makes selling physical products, digital downloads and services seriously simple. Open beautiful and professional storefronts - all with a single click.</p>
    <a href="https://selz.com">Go to Selz.com</a>
  </section>

  {% for repository in site.github.public_repositories %}
  
    {% if repository.name != 'selz.github.io' and repository.fork == false %}
    
      <a href="{{ repository.html_url}}" class="repo">
        <h2>{{ repository.name }}</h2>
        <p>{{ repository.description }}</p>
        <span class="icon-dislikes star">{{ repository.stargazers_count }}</span>
        <span class="icon-play triangle" aria-hidden="true"></span>
      </a>
      
    {% endif %}
    
  {% endfor %}
