<footer class="site-footer">

		 <div class="article-social share-social" data-share-url="http://selz.github.io/" data-share-text="Selz Open Source & Plugins #selz" data-twitter-id="selzdotcom">
				<span class="btn-addon" data-share-network="facebook">
					<!-- No JS Fallback -->
					<a href="https://www.facebook.com/sharer/sharer.php?u=http://selz.github.io/" target="_blank" class="btn btn-facebook btn-small"><span><span class="icon-facebook"></span>Share</span></a>
				</span>
				<span class="btn-addon" data-share-network="twitter">
					<!-- No JS Fallback -->
					<a href="https://twitter.com/intent/tweet?text=Selz%20Open%20Source%20&amp;%20Plugins&amp;url=http://selz.github.io/&amp;via=selzdotcom" target="_blank" class="btn btn-twitter btn-small"><span><span class="icon-twitter"></span>Tweet</span></a>
				</span>
				<span data-share-network="googlePlus">
					<!-- No JS Fallback -->
					<a href="https://plus.google.com/share?url=http://selz.github.io/" target="_blank" class="btn btn-google btn-small"><span><span class="icon-google-plus"></span>+1</span></a>
				</span>
			</div>

</footer>
