/**
 * Main page body
 */
 
 @mixin transition($property){
 	-webkit-transition: $property 2s;
 	transition: $property 2s;
 }
 
 .home{
 	margin-top: $gutter-width*2;
 }
 
 .repo{
 	display: block;
 	position: relative;
 	border: 2px solid $gray-lightest;
 	border-radius: $base-radius*2;
 	margin: $gutter-width auto;
 	padding: $gutter-width/2 $gutter-width/2 $gutter-width $gutter-width;
 	
 	@include transition(border);
 	
 	@include transition(color);
 	
 	&:hover{
 		border-color:$brand-color;
 	}
 	
 	&:hover > .triangle,
 	&:hover > .star:before{
 		color:$brand-color;
 	}
 	
 	p{
 		margin-right: $gutter-width*2;
 	}
 	
 	span{
 		display: inline-block;

 	}
 }
 
 .star{
 	
	 &:before{
	 	@include font-size(25);
	 	padding-right: 5px;
	 	color:$gray-lightest;
	 }
	 
 	@include font-size(16);
 	line-height: 0.5;
 	vertical-align: bottom;
 	
 }
 
 .triangle{
 	@include font-size(40);
 	
 	position: absolute;
 	right: $gutter-width/2;
 	line-height: 0;
 	top: 50%;
 	color:$gray-lightest;
 }
