/**
 * Main page body
 */
 
 .home{
 	margin-top:$gutter-width*2;
 }
 
 .repo{
 	display:block;
 	position: relative;
 	border: 2px solid $gray-dark;
 	border-radius: $base-radius*2;
 	margin: $gutter-width auto;
 	padding: $gutter-width/2;
 	
 	p{
 		margin-right:$gutter-width*2;
 	}
 	
 	span{
 		display: inline-block;

 	}
 }
 
 .star{
 	
	 &:before{
	 	@include font-size(24);
	 	padding-right:5px;
	 }
	 
 	@include font-size(16);
 	line-height: 0.2;
 	vertical-align:middle;
 	
 }
 
 .triangle{
 	@include font-size(50);
 	
 	position: absolute;
 	right: $gutter-width/2;
 	top: 25%;
 }
