// Site header
.site-header {
	// border-bottom: 1px solid $gray-light;
	height: 360px;
	background: $brand-color;
	
	// Positioning context for the mobile navigation icon
	position: relative;
	
	// Smooth fonts
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	
	h1 {
		padding-top: $gutter-width/2;
		color: $text-color-light;
		text-align: center;
		
		@include font-size(32);
	}
}

.site-title {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: $gutter-width*3;
	text-align: center;
}

// Site footer
.site-footer {
    padding-bottom: $gutter-width;
}

// Page content
.page-heading {
    font-size: 20px;
}
