// Main
.main {
	padding-top: $gutter-width;
}

// Site header
.site-header {
	// border-bottom: 1px solid $gray-light;
	padding: $gutter-width * 2 $gutter-width;
	background: $brand-color;
	
	// Positioning context for the mobile navigation icon
	position: relative;
	
	// Smooth fonts
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	
	h1 {
		color: $text-color-light;
		text-align: center;
		
		@include font-size(32);
	}
}

.site-title {
	display: block;
	margin-bottom: $gutter-width / 2;
	text-align: center;
}

// Site footer
.site-footer {
    padding-bottom: $gutter-width;
}

// Page content
.page-heading {
    font-size: 20px;
}
